<img class="icon" src="../../../assets/img/icons/chevron-left.svg">
<img class="icon" src="../../../assets/img/icons/chevron-right.svg">
<img class="icon" src="../../../assets/img/icons/Deposit.svg">
<img class="icon" src="../../../assets/img/icons/Withdraw.svg">
<img class="icon" src="../../../assets/img/icons/Export.svg">
<img class="icon" src="../../../assets/img/icons/copy.svg">
<img class="icon" src="../../../assets/img/icons/markets-closed.svg">
<img class="icon" src="../../../assets/img/icons/markets-open.svg">
<img class="icon" src="../../../assets/img/icons/Star-Default.svg">

