<img class="icon" src="../../../assets/img/icons/Alert.svg">
<img class="icon" src="../../../assets/img/icons/Check.svg">
<img class="icon" src="../../../assets/img/icons/Close.svg">
<img class="icon" src="../../../assets/img/icons/Increasing.svg">
<img class="icon" src="../../../assets/img/icons/Decreasing.svg">
<img class="icon" src="../../../assets/img/icons/Notification.svg">
<img class="icon" src="../../../assets/img/icons/Dropdown.svg">
<img class="icon" src="../../../assets/img/icons/Dropdown-Down.svg">
<img class="icon" src="../../../assets/img/icons/Edit.svg">
<img class="icon" src="../../../assets/img/icons/Up-Down.svg">

